/* Contact form */

/* validation */
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left:0;
    visibility: hidden;
}

.form-control.success input {
    border-color: green;
}

.form-control.success textarea {
    border-color: green;
}

.form-control.error textarea {
    border-color: salmon;
}

.form-control.error input {
    border-color: salmon;
}

.form-control.error small {
    visibility: visible;
    color: salmon;
}
/* -------------------------------------- */

.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .3rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
}

textarea {
    resize: none;
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}


/* Footer */
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
}